OnlineRobot/WebContent/WEB-INF/wsdl/ControlService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3-hudson-390-. -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://control.onlinerobot/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ControlService" targetNamespace="http://control.onlinerobot/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://control.onlinerobot/" schemaLocation="ControlService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="main">
    <part element="tns:main" name="parameters"/>
  </message>
  <message name="mainResponse">
    <part element="tns:mainResponse" name="parameters"/>
  </message>
  <message name="GetSobot">
    <part element="tns:GetSobot" name="parameters"/>
  </message>
  <message name="GetSobotResponse">
    <part element="tns:GetSobotResponse" name="parameters"/>
  </message>
  <message name="GetBing">
    <part element="tns:GetBing" name="parameters"/>
  </message>
  <message name="GetBingResponse">
    <part element="tns:GetBingResponse" name="parameters"/>
  </message>
  <message name="GetTuLing">
    <part element="tns:GetTuLing" name="parameters"/>
  </message>
  <message name="GetTuLingResponse">
    <part element="tns:GetTuLingResponse" name="parameters"/>
  </message>
  <portType name="ControlDelegate">
    <operation name="main">
      <input message="tns:main"/>
      <output message="tns:mainResponse"/>
    </operation>
    <operation name="GetSobot">
      <input message="tns:GetSobot"/>
      <output message="tns:GetSobotResponse"/>
    </operation>
    <operation name="GetBing">
      <input message="tns:GetBing"/>
      <output message="tns:GetBingResponse"/>
    </operation>
    <operation name="GetTuLing">
      <input message="tns:GetTuLing"/>
      <output message="tns:GetTuLingResponse"/>
    </operation>
  </portType>
  <binding name="ControlPortBinding" type="tns:ControlDelegate">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="main">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GetSobot">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GetBing">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GetTuLing">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="ControlService">
    <port binding="tns:ControlPortBinding" name="ControlPort">
      <soap:address location="http://localhost:8080/OnlineRobot/ControlPort"/>
    </port>
  </service>
</definitions>
