Speech/SpeechCustomUi/Service References/ServiceReference1/NL2MLService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NL2MLService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NL2MLService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ResultInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
      <xs:element minOccurs="0" name="Msg" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultInfo" nillable="true" type="tns:ResultInfo" />
</xs:schema>