Speech/SpeechCustomUi/Service References/NLP/NLPWebService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://NLPServer/" targetNamespace="http://NLPServer/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DoNLP" type="tns:DoNLP" />
  <xs:element name="DoNLPResponse" type="tns:DoNLPResponse" />
  <xs:element name="hello" type="tns:hello" />
  <xs:element name="helloResponse" type="tns:helloResponse" />
  <xs:complexType name="hello">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="helloResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DoNLP">
    <xs:sequence>
      <xs:element minOccurs="0" name="words" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DoNLPResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>